name: Build Test

on:
  pull_request:
    branches:
      - 'main'
      - 'develop'

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      working-directory: ./

    strategy:
      matrix:
        node-version: [ 12.x, 14.x, 16.x ]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
      - uses: actions/checkout@v2

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}

      - name: Build
        run: |
          yarn install --frozen-lockfile
          yarn build
          yarn dev & npx wait-on http://localhost:3001
        # 추후 test command 추가
        working-directory: ${{ env.working-directory }}

  docker-build:
    runs-on: ubuntu-latest
    env:
      working-directory: ./frontend
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Docker Setup Buildx
        # You may pin to the exact commit or the version.
        uses: docker/setup-buildx-action@v1.5.0

      - name: Docker Build
        uses: docker/build-push-action@v2.6.1
        with:
          push: false
          # Build's context is the set of files located in the specified PATH or URL
          context: ${{ env.working-directory }}
          # Path to the Dockerfile
          file: ${{ env.working-directory }}/docker/Dockerfile
